:host {
  display: block;
}

.arrow {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%) rotate(-90deg);
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 30px solid red;
  z-index: 10;
}
